
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a class="btn btn-primary" routerLink="/personas-add/-1" role="button">Añadir Persona(a)</a>  
    <span>|</span>
    <button (click)="irANuevaPersona()"  type="button" class="btn btn-primary">Añadir Persona(p)</button>
    <table class="table table-hover table-borderer table-striped">
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Accion</th>
        </tr>
        <tr *ngFor="let row of listaPersonas">
            <td>{{row.ID}}</td>
            <td>{{row.DNI}}</td>
            <td>{{row.NOMBRE}}</td>
            <td>{{row.APELLIDOS}}</td>
            <td><button (click)="editar(row)">Editar</button><button (click)="borrar(row)">Borrar</button></td>
        </tr>
    </table>
</body>
</html>