<h2>Pets and Visits</h2>

@for (pet of pets; track $index) {
  <div class="pet-container">
    <div class="pet-info">
      <table class="table table-hover table-striped">
        <tr><b>Name</b></tr>
        <tr>{{ pet.name }}</tr>
        <tr><b>Birth date</b></tr>
        <tr>{{ pet.birthDate }}</tr>
        <tr><b>Type</b></tr>
        <tr>{{ pet.typeName }}</tr>
      </table>

      <br>

      <table class="botones">
        <tr>
          <td><a role="button" routerLink="/petAdd/{{idOwner}}/{{pet.id}}">Editar mascota</a></td>
          <td><a (click)="eliminarPet(pet.id, pet.name)">Borrar mascota</a></td>
          <td><a routerLink="/addVisit/{{pet.id}}/-1/-1">Añadir visita</a></td>
        </tr>
      </table>
    </div>

    <div class="visits-container">
      <app-visit-list [visits]="pet.visits || []" [idPet]="pet.id" (eliminaVisita)="visitaEliminar($event)"></app-visit-list>
    </div>
  </div>

  <br><br><br>
}